/* General Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Background Image */
.background-image {
    background-image: url(../Images/coffee-background.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Container Grid Layout */
.container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Sidebar (1fr) and Main Content (3fr) */
    grid-template-rows: auto 1fr auto; /* Header, main content, and footer */
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
    height: 100vh;
}

/* Header Styling */
.grid-header {
    background-color: brown;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    grid-area: header;
    padding: 20px;
}

.grid-logo {
    width: 100px;
    height: auto;
}

.grid-nav ul {
    list-style: none;
}

.grid-nav ul li {
    display: inline-block;
    position: relative;
}

.grid-nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.grid-nav ul li a:hover {
    color: yellow;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: brown;
    min-width: 200px;
}

.grid-nav ul li:hover .dropdown {
    display: block;
}

.dropdown li {
    display: block;
    padding: 10px;
}

.dropdown li a:hover {
    background-color: grey;
}

/* Sidebar Styling */
.sidebar {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    position: sticky;
    top: 100px; /* Keeps the sidebar in view when scrolling */
    grid-area: sidebar;
}

.main-content {
    padding: 20px;
    grid-area: main;
}

.main-section {
    margin-bottom: 20px;
}

/* Footer Styling */
#grid-footer {
    background-color: #fff;
    color: blue;
    padding: 20px;
    text-align: center;
    grid-area: footer;
}

#grid-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#grid-footer ul li {
    display: inline-block;
    margin: 0 10px;
}

#grid-footer ul li a {
    text-decoration: none;
    color: black;
}

#grid-footer ul li a:hover {
    color: red;
}

/* Additional Styling */
.head-text {
    font-size: 30px;
    font-weight: bold;
}

.sub-heading {
    font-size: 18px;
    margin-bottom: 20px;
}

.nested div {
    margin-bottom: 10px;
}

.nested img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 5px;
}
